[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.form_error2{
	color: red;
}


#lang_en.en{
	background: red;
	color:yellow;
}
#lang_en.en:hover{
	background: brown;
	color:yellow;
}
#lang_ru.ru{
	background: red;
	color:yellow;
}
#lang_ru.ru:hover{
	background: brown;
	color:yellow;
}


.position_text{
	border: 1px solid red;
	padding:10px;
}

.position2{
	margin-left: 20px;
}

