Options +FollowSymLinks

<ifModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !youtube
	RewriteRule (.*) youtube.php [L]
</ifModule>