<div id='lp_carousel' class='carousel slide'>
	<ol class='carousel-indicators' >
		<li data-target='#lp_carousel' data-slide-to='0' class='active'></li>
		<li data-target='#lp_carousel' ng-repeat='items in [1,2,3,4,5,6,7]' data-slide-to='{{items}}' ></li>
	    <!--li data-target='#lp_carousel' data-slide-to='0' class='active'></li>
	    <li data-target='#lp_carousel' data-slide-to='1' ></li>
	    <li data-target='#lp_carousel' data-slide-to='2' ></li-->
  	</ol>
	<div class='carousel-inner'>
		<div class='item active'>
			<img class='slide_img' alt='slide1' class='img-responsive' src='../../public/img/slide/slide_1.jpg' />
			<div class='carousel-caption'>
				<h1>ԿՐԹՎԱԾ ՆՇԱՆԱԿՈՒՄ Է ՊԱՇՏՊԱՆՎԱԾ</h1>
				<!--h3><a href='#' style='border:2px solid white'>ՍԿՍԵԼ ՈՒՍՈՒՑՈՒՄԸ</a></h3-->
			</div>	
		</div>
		<div class='item'>
			<img class='slide_img' alt='slide2' class='img-responsive' src='../../public/img/slide/slide_2.jpg' />
			<div class='carousel-caption'>
				<h1>ՖԻԶԻԿԱ 12-ՐԴ ԴԱՍԱՐԱՆ</h1>				
			</div>	
		</div>
		<div class='item'>
			<img class='slide_img' alt='slide3' class='img-responsive' src='../../public/img/slide/slide_3.jpg' />
			<div class='carousel-caption'>
				<h1>ՖԻԶԻԿԱ 11-ՐԴ ԴԱՍԱՐԱՆ</h1>				
			</div>	
		</div>
		<div class='item'>
			<img class='slide_img' alt='slide4' class='img-responsive' src='../../public/img/slide/slide_4.jpg' />
			<div class='carousel-caption'>
				<h1>ՌՈՒՍԱՑ ԼԵԶՈՒ</h1>				
			</div>	
		</div>
	</div>
</div>