<div ng-cloak ng-controller='positionGroup'>



	<form method="post" enctype="multipart/form-data" action='add_lesson'>  
	<div position-table name='lesson_parent_id'></div>
		<!--div>
				
			<select id='position' name='lesson_parent_id' ng-model='userField.id'>
				<option ng-selected='0'>{{language.position_main}}ԳԼԽԱՎՈՐ</option>
				<option ng-repeat='items in position' ng-selected='{{items.id}}'>{{items.id}} - {{items.position}}</option>
			</select>
		</div-->





		<div>
			<select name='lesson_type_name' ng-model='file_type'>
				<option value='html'>Html</option>
				<option value='video'>Video</option>
				<option value='seperator'>Seperator</option>
			</select><br />
			<div ng-if='file_type!="seperator"'>				
				<input id='name' placeholder='name' type='text' name='lesson_name' /><br/>
				<input id='description' placeholder='description' type='text' name='lesson_description' /><br/>
				<input id='keywords' placeholder='keywords' type='text' name='lesson_keywords' /><br/>
				<select name='lesson_type_id'>
					<option value='1' class='lesson_types lesson_type_1'>{{language.lesson}}</option>
					<option value='2' class='lesson_types lesson_type_2'>{{language.interesting}}</option>	
					<option value='3' class='lesson_types lesson_type_3'>{{language.laboratory_work}}</option>
					<option value='4' class='lesson_types lesson_type_4'>{{language.task}}</option>
					<option value='5' class='lesson_types lesson_type_5'>{{language.interactive}}</option>
				</select><br />
				<!--input id='savefiles' type='button' value='{{language.save}}' /-->                
				<label>Please Select Zip File</label>  
				<input type='file' name='zip_file' /><br /> 			
				<label><input name='lesson_is_free' type='checkbox' /> {{language.free_lesson}}</label><br />
				<input type='submit' name='btn_zip' class='btn btn-info' value={{language.save}} />
			</div>
			<div ng-if='file_type=="seperator"'>
				<input type='submit' name='add_seperator' class='btn btn-info' value={{language.save}} />
			</div>			
			

		</div>
	</form> 

				<!--form ng-submit="submit()" >
				  Enter text and hit enter:
				  <input type="text" ng-model="text" name="text" />
				  <input type="submit" id="submit" value="Submit" />
				  <pre>list={{list}}</pre>
				</form-->
</div>

		
