<div ng-cloak ng-controller='contactsCtrl'>
	<users-table></users-table>
	<div ng-if='users'>
		<div style='width:400px; height:200px; border:1px solid black'>
			<label>Name:<span id='recipient'>{{recipient}}</span></label>
			<select id='list' size="3" multiple style='width:400px; height:174px;'></select>
			<!--textarea rows="7" cols="50" id='list' ng-model="list" ng-list="&#10;" ng-trim="false"></textarea-->
		</div>
		<div>
			<input id='message_text' type='text' value=''> 
			<input type='button' value='send' ng-click='sendMessage()' />
		</div>
	</div>
</div>