<div ng-cloak ng-controller='listGroup'>

 
	<div class='col-xs-12 col-sm-12  col-md-3  col-lg-3'>
		
		




<!--list-group></list-group-->
<div>
	Search <input type="checkbox" ng-model='checked' >
	<input id='searchLessonText'  type='text' ng-show="checked" ng-model='searchLesson.keywords' ng-focus='getLessons(focus=true, blur=false)' ng-blur='getLessons(focus=false, blur=true)'/>
	<div ng-show="checked" ng-repeat='items in searchLessons | filter:searchLesson'>
		<div  class='lesson_type_{{items.type_id}}' ng-click='loadPage()'><span >{{items.name}}</span></div>
	</div>
</div>





		<label>{{language.structure}}</label>&nbsp;
		<div class='mainPosition'>
			<div ng-repeat='items in position'>
				<div class='position1' data1='{{items.id}}' data2='{{items.parent_id}}' ng-click='openClosePosition()'>								
					<a style='width:100px' class='btn btn-default btn-sm' ng-click='getClass()'>{{items.position}}</a>
				</div>	
			</div>
		</div>
	</div>	
	<div class='mainLesson col-xs-12 col-sm-12  col-md-3  col-lg-3'>
		<div ng-repeat='items in lessons'>
			<div  class='lesson_type_{{items.type_id}}' ng-click='loadPage()'><span>{{items.name}}</span></div>
		</div>
	</div>
	<div class='mainPage col-xs-12 col-sm-12  col-md-3  col-lg-6'>
		<iframe id="pagePlayer" width="100%" height='100px' style='position:relative'></iframe>
		<img id='learnpro_logo' src='../../public/img/icons/logo.png' style='position:absolute; top:10px; left:20px' ng-click="resizeIframe()" />
	</div>

	<!--iframe  scrolling='auto'  src='../../uploads/0270_0001/index.html' width='300' height='300' align='left'></iframe>
	<div><input type='button' value='full Screen' ng-click='fullscreen()' /></div-->


</div>