<div ng-cloak ng-controller='personalpageGroup'>

	<div ng-repeat='item in currentUserStatus'>
		<label>{{language.first_name_hint}}</label> <span>{{item.first_name}}</span><br />
		<label>{{language.last_name_hint}}</label> <span>{{item.last_name}}</span><br />
		<label>{{language.age_hint}}</label> <span>{{item.age}}</span><br />
		<label>{{language.activation_code}}</label> <span>{{item.activation_code}}</span><br />
		<label>{{language.email_hint}}</label> <span>{{item.email}}</span><br />
		<label>{{language.username_hint}}</label> <span>{{item.username}}</span><br />
		<label for='oldPassword'>{{language.password_hint}}</label> <input id='oldPassword' type='text' /><input type='button' value='change' /><br />
	</div>

</div>