<div ng-cloak ng-controller='positionGroup'>
	<h2>This is position.html</h2>
	<div>
		<label>{{language.position_hint}}</label>		
		<select id='position' ng-model='userField.id'>
			<option ng-selected='0'>{{language.position_main}}ԳԼԽԱՎՈՐ</option>
			<option ng-repeat='items in position' ng-selected='{{items.id}}'>{{items.id}} - {{items.position}}</option>
		</select>
		<div><label>имя каталога</label>&nbsp;<input type='text' id='position_name' /><input type='button' value='OK' ng-click='createPosition()' /></div>
		<div><label><input type='checkbox' id='position_group' />&nbsp;группировать</label></div>
	</div>
	<div>
		<label>{{language.structure}}</label>&nbsp;
		<div class='mainPosition'>
			<div ng-repeat='items in position'>
				<div class='position_item position1' data1='{{items.id}}' data2='{{items.parent_id}}'>
					<span class='glyphicon glyphicon-plus-sign' ng-click='openClosePosition()'></span>					
					<input value='{{items.position}}' />
					<a class='btn btn-danger btn-xs ' ng-click='editPosition()'>edit</a>
					<a class='btn btn-danger btn-xs remove' ng-click='removePosition()'>remove</a>
				</div>	
			</div>
			<!--div ng-repeat='items in lesson'>
				<div class='lesson_item' data1='{{items.id}}' data2='{{items.parent_id}}'>
					<a class='lesson_type_{{items.type_id}}'>{{items.name}}</a>
					<a class='btn btn-danger btn-xs remove' ng-click='removeLesson()'>remove</a>
					<a class='glyphicon glyphicon-arrow-up btn btn-danger btn-xs remove' ng-click='editNumberLesson($index)'>iop</a>
				</div>	
			</div-->
			<div ng-repeat='items in lesson'>
				<!--div class='lesson_item' data1='{{items.id}}' data2='{{items.parent_id}}'>

					<a class='lesson_types lesson_type_{{items.type_id}}'>{{items.name}}</a>
					<a class='btn btn-danger btn-xs remove' ng-click='removeLesson()'>remove</a>
					<input type='number' ng-value='items.number' min='1' max='99' />
					<a class='btn btn-danger btn-xs' ng-click='editNumberLesson($index)'>edit position</a>

				</div-->	

				<div class='lesson_item' data1='{{items.id}}' data2='{{items.parent_id}}'>
					<table>
						<tr>
							<td><div class='lesson_types lesson_type_{{items.type_id}}' title='{{items.name}}'>{{items.name}}</div></td>
							<td><a class='btn btn-danger btn-sm remove' ng-click='removeLesson()'>remove</a></td>
							<td><input type='number' ng-value='items.number' min='1' max='99' /></td>
							<td><a class='btn btn-danger btn-sm' ng-click='editNumberLesson($index)'>edit position</a></td>
						</tr>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>

