<div ng-cloak class="container-fluid">
	<div class="row-fluid" > 
		<div  ng-controller='usersCtrl' class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
			<users-table></users-table>			
			<div ng-if='users'>
				<div>
					<label>{{language.username_hint}}</label>
					<input id='userName' type='text' value='{{userField.username}}' />
				</div>
				<div>	
					<label>{{language.first_name_hint}}</label>
					<input id='firstName' type='text' value='{{userField.first_name}}' />
				</div>
				<div>
					<label>{{language.position_hint}}</label>			
					<select id='position' ng-model='userField.position'>
						<option  ng-repeat='items in position' ng-selected='{{userField.position}}'>{{items.position}}</option>
					</select>
				</div>
				<input ng-click='editUser()' type='button' value='{{language.save}}' class='btn btn-info' />
				{{tt.first_name_hint}}
			</div>
		</div>
		<div ng-controller='sessionsCtrl' class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
			<table  class='table'>
				 <thead>
				 	<tr class='info'>
				 		<th>{{language.username_hint}}</th>
				 	</tr>
				 </thead>
				 <tbody>
					<tr ng-repeat='items in sessions'>
					  <td>{{items.usr}}</td>
					  <td>{{items.ip_address}}</td>  
					  <td>{{items.time}}</td>
					  <td><input type='button' value='{{language.delete}}' ng-click='session_remove($index)' /></td>
					</tr>
				</tbody>	
			</table>
		</div>
	</div>
</div>