<div ng-cloak class="container-fluid">
	<div class="row-fluid" > 
		<div  ng-controller='usersCtrl'>
		<div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
			<users-table></users-table>			
			<div ng-if='users'>
				<div>
					<label>{{language.username_hint}}</label>
					<span>{{userField.username}}</span>
				</div>
				<div>	
					<label>{{language.first_name_hint}}</label>
					<input id='firstName' type='text' value='{{userField.first_name}}' />
				</div>
				<div>	
					<label>{{language.last_name_hint}}</label>
					<input id='lastName' type='text' value='{{userField.last_name}}' />
				</div>
				<div>	
					<label>{{language.email_hint}}</label>
					<span>{{userField.email}}</span>
				</div>
				<div>	
					<label>{{language.activation_code}}</label>
					<span>{{userField.activation_code}}</span>
				</div>
				<div>	
					<label>{{language.activation}}</label>
					<input id='activation' type='text' value='{{userField.activation}}' />
				</div>
				<input ng-click='editUser()' type='button' value='{{language.save}}' class='btn lp_button' />
				{{tt.first_name_hint}}
			</div>
		</div>
		<div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
			
		</div>		
		</div>

		<div ng-controller='sessionsCtrl'>
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<table  class='table'>
				 <thead>
				 	<tr class='info'>
				 		<th>{{language.username_hint}}</th>
				 	</tr>
				 </thead>
				 <tbody>
					<tr ng-repeat='items in sessions'>
					  <td>{{items.usr}}</td>
					  <td>{{items.ip_address}}</td>  
					  <td>{{items.time}}</td>
					  <td><input type='button' value='{{language.delete}}' ng-click='session_remove($index)' /></td>
					</tr>
				</tbody>	
			</table>
		</div>
		</div>
	</div>
</div>