[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.flags{	
	background-image: url('../img/icons/flags.png');
	background-size: 240px 240px;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	margin:0 10px;
	display: inline-block;
}

@flag_underline: 3px solid #337ab7;

#flag_am{
    background-position: 0 0;
    &.am, &.am:hover{
    	background-position: 0 -160px;
 		border-bottom: @flag_underline;
    }
    &:hover{
		background-position: 0px -80px;
    }
}
#flag_ru{
    background-position: -80px 0;
    &.ru, &.ru:hover{
    	background-position: -80px -160px;
 		border-bottom: @flag_underline;
    }    
    &:hover{
		background-position: -80px -80px;
    }
}
#flag_en{
    background-position: -160px 0;
	&.en, &.en:hover{
    	background-position: -160px -160px;
 		border-bottom: @flag_underline;
    }    
    &:hover{
		background-position: -160px -80px;
    }
}


.form_error2{
	color: red;
}



.position_text{
	border: 1px solid red;
	padding:10px;
}

.position2{
	display:none;
	margin-left: 20px;
}
.lesson_item{
	display:none;
}

/*
@media (min-width: 480px) and (max-width: 767px) {
	#glue, .resize{
		width:100%;
	}
	
}


@media (min-width: 768px) and (max-width: 991px) {
	#glue, .resize{
		width:100%;
	}

}

*/








/****************lesson style******************/
.lesson_type(@background){
	width: 200px;
	height:30px;
	background: @background;
	color: white;
	border-radius: 5px;
	border:2px solid black;
}

.lesson_type_1{
	.lesson_type(blue);
}
.lesson_type_2{
	.lesson_type(orange);
}
.lesson_type_3{
	.lesson_type(green);
}
/****************lesson style END******************/













/****************************for angular*******************/
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}
/*
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}*/


.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}
/****************************for angular END*******************/




header{
  position:relative;
  width: 100%;
  height: 120px;
  background: #efefef;
  z-index:9999999;
}

.mrgTop{
  margin-top:120px;
}

#nail{
  width:30px;
  height: 30px;
  background: red;
  float:right;
  cursor: pointer;
}